/saiku-legal
/saiku-repository
/saiku-bi-platform-plugin
/saiku-bi-platform-plugin-p5
.idea
/test
buildall.bat
buildWLS.sh
findbigfiles.sh
pentaho_checkStyle.xml
suppressions.xml
*.iml
release.sh
upgrade_version.sh
*.swp
target


